*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display:flex;
    width: 650px;
    height: 200px;
    margin-right: 230px;
    margin-left: 230px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s aese;
    border-radius: 5%;
}
section img:hover{
    cursor:crosshair;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
}