*{
    padding:0;
    margin:0;
}
body{
    background-color:#c7c796;
}
h1{
    font-size: 36px;
    color: #e8dede;
    font-family: 'Open Sans';
    text-align: center;
    background-color: #040404;
    padding: 15px;
}
h3{
    font-size: 25px;
    color:rgb(74, 15, 38);
    font-family: 'Open Sans';
    text-align: center;
}
p{
    font-family: 'Open Sans';
    font-size: 20px;
    color: black;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}
#contenedor ul{
    list-style-type:disc;
    font-family: 'Open Sans';
    font-size: 20px;
    text-align:center;
    margin-left: 15%;
    margin-right: 15%;
}
img{
    border-radius: 30px; 
    margin-right: 250px  ; 
    margin-left: 20px; 
    width: 500px; 
    height:300px; 
    border-image: 15px; 
    float: right; 
    padding: 15px;
}